*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    color: #777;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    background: radial-gradient(#fff, #ffd7d2);
}

.navbar{
    display: flex; 
    /* justify-content: space-around; */
    align-items: center;
    padding: 10px;
}

.nav-list{
    list-style: none;
    flex: 1;
    /* background: crimson; */
    text-align: right;
    /* display: flex; */
}
.navbar ul li{
    margin-left: 20px;
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    color: #555;
    padding: 10px;
}

/* .logo-box{
    width: 100px;
} */
/* .logo-box img{
    width: 100%;
    
} */

.header-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-col{
    flex-basis: 50%;
}
.header-image img{
    width: 100%;
}
.header-text{
    /* text-align: center; */
}
.header-text h1{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}
.header-text p{
    font-size: 18px;
    margin-bottom: 15px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #ff523b;
    border-radius: 25px;
    color: white;
    padding: 10px 25px;
    transition: background 0.2s;
}

.header-text .btn:hover{
    background-color: #563434;
}

.row{
    margin: 70px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section-container{
    width: 65%;
    margin: auto;
}
.main-section .col-3{
    flex-basis: 30%;
    min-width: 200px;
    margin-bottom: 30px;
}
.main-section img{
    width: 100%;
}

/* featured product */
.title{
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}
.title::after{
    content: '';
    width: 100px;
    background-color: #ff523b;
    height: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.main-section .col-4{
    flex-basis: 25%;
    margin-bottom: 30px;
    min-width: 200px;
    padding: 10px;
    transition: transform 0.5s;
}
.main-section img{
    width: 100%;
}
.main-section .col-4:hover{
    transform: translateY(-5px);
}
/* offer section */

.offer-section{
    background: radial-gradient(#fff, #ffd2d2);
}
.col-2{
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
}
.col-2 h4{
    font-size: 50px;
}
.col-2 small{
    font-size: 18px;
}
.col-2 img{
    width: 100%;
}

.button{
    margin-top: 10px;
}

/* Testimonial */
.testimonial{
    padding-top: 100px
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50%;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.testimonial .col-3 p{
    font-size: 12px;
}
.fa .fa-quote-left{
    color: #ff523b;
    font-size: 34px;
}
/*------------------brands---------------  */
.brands{
    /* margin: 100px auto; */
}

.brands .col-5{
    width: 160px;
}
.brands .col-5 img{
    width: 100%;
    filter: grayscale(100%);
    cursor: pointer;
}
.brands .col-5 img:hover{
    filter: grayscale(0);
}

/* -----footer------- */
.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    /* min-width: 250px; */
    /* margin-bottom: 20px; */
    text-align: center;
}


.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex-basis: 30%;
}
.footer-col-2 img{
    width: 25%;
    text-align: center;
}

.footer-col-3{
    flex-basis: 20%;
}
.footer-col-4{
    flex-basis: 20%;
}
ul{
    list-style: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    background-color: #b5b5b5;
    border: none;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* -------media query ------- */
