/* .navbar ul{
    position: absolute;
    top: 70px;
    left: 0px;
    background-color: #333;
    width: 100%;
}
.navbar ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar ul li a{
    color: white;
}
.menu-icon{
    display: block;
} */